/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */

:root {
    --FONT-COLOR:#10151F;
    --FONT-COLOR-SECONDARY: #3E424A;
    --BACKGROUND-COLOR: white;
    --BORDER-COLOR: #E1DFE1;
    --FF: 'Poppins', 'Times New Roman', Times, serif;
    --SECONDARY-COLOR: #FF4000;
}

/* Base setup */
body {
  width: 1980px;
  height: 1080px;
  font-family: var(--FF);
  background-color: var(--BACKGROUND-COLOR);
  display: flex;
  flex-direction: column;
  color: var(--FONT-COLOR);
}

/* Login header */
.login-header {
  width: 1980px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}

.brand-name {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
}

.brand-name img {
  width: 24px;
  height: 24px;
}

.logo {
  font-size: 16px;
  font-weight: 600;
  color: var(--FONT-COLOR);
}

.login-icon {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.login-icon img {
  width: 20x;
  height: 20px;
}

.login {
  font-size: 12px;
  font-weight: 500;
  color: var(--FONT-COLOR);
}

/* Login main section  */
.index-main {
  display: flex;
  width: 1980px;
  height: 1000px;
  padding: 0;
}

.main-cover-image {
  width: 948px;
  height: 1000px;
  object-fit: cover;
  object-position: top;
}

/*  Login container */
.login-container {
  width: 420px;
  margin-left: 250px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}

.login-container h2 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 32px;
}

/* Form */
.form-group {
  margin-bottom: 20px;
}

/* Form input*/

.form-group input {
  width: 100%;
  height: 42px;
  border: 1px solid var(--BORDER-COLOR);
  border-radius: 8px;
  gap: 4px;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 400;
}

/* Password */


/* Button */

.login-button {
  width: 100%;
  height: 41px;
  background-color: var(--SECONDARY-COLOR);
  color: var(--BACKGROUND-COLOR);
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 20px;
  gap: 10px;
}

/* Register link */

.register {
  margin-top: 20px;
  font-size: 14px;
  color: var(--FONT-COLOR-SECONDARY);
  text-align: center;
}

.register a {
  color: var(--SECONDARY-COLOR);
  text-decoration: none;
  font-weight: 500;
}

/*==========================*/

/* Registration page  */

/* Profile image upload section */
.image-upload {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.default-profile-box {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid var(--BORDER-COLOR);
  background-color: var(--BACKGROUND-COLOR); 
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image-upload,
.profile-image-remove {
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  color: var(--FONT-COLOR-SECONDARY);
}

.profile-image-upload:hover,
.profile-image-remove:hover {
  text-decoration: underline;
}

/* ================================= */
 
/* Product Listing Page Styles */

/* Header avatar */

.right-side {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--BORDER-COLOR);
  background-color: var(--BACKGROUND-COLOR); 
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- Navigation / Filter Bar --- */
nav {
    top: 152px;
    width: 100%;
    padding: 32px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    font-size: 42px;
    font-weight: 600;
}

nav .filter {
    display: flex;
    align-items: center;
    gap: 8px;
}

.result-count {
    font-size: 12px;
    font-weight: 400;
    color: var(--FONT-COLOR-SECONDARY);
    margin-right: 50px;
}

nav .filter .filter,
nav .filter .sort {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: var(--FONT-COLOR-SECONDARY);
}

.sort {
    margin-left: 10px;
}

/* Product grid */
main {
    padding: 0 100px;
}

.product-listing-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 24px;
    width: 100%;
}

/* Product item */

.product {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product-image {
    width: 412px;
    height: 549px;
    background-color: var(--BACKGROUND-COLOR);
    border-radius: 10px;
    margin-bottom: 16px;
    object-fit: cover;
}

.product-name {
    font-size: 18px;
    font-weight: 500;
    color: var(--FONT-COLOR);
    margin-bottom: 8px;
}

.product-price {
    font-size: 16px;
    font-weight: 500;
    color: var(--FONT-COLOR);
}


/* Page numbers */
footer {
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

footer img {
    cursor: pointer;
}

footer p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 4px;
}

